body
{
    background-color: #eeee;
}
#main
{
  
}

#main img
{
    width: 100%;
    height: 100%;
    
}

#main .main-tilte
{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 30%;
    font-weight: bolder;
    color: #FFF;
    border: 2px solid #FFF;
}

.formulaire
{
    background:rgb(128, 128, 128);
}
#main .form-row
{
    display: flex;
    justify-content: center;   
}

